body {
    font-family: sans-serif;
    margin: 30px;
    background-image: url("http://i.stack.imgur.com/vhoa0.jpg");
    background-size: cover;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}


.img-medium {
    height: 200px;
}

.container{ 
    margin: 20px auto;
    color: #b3b300;
    font-family: sans-serif;
}

.container a{ 
    color: yellow;
}

.profile{ 
    margin: 20px;
    color: blue;
    font-family: sans-serif;
}

h4{
    font-weight: bold;
    color: red;
}

.nav li a{
    color: yellow;
    font-weight: bold;
}

#articles li{
    color: red;
    list-style:none;
}