body {
    font-family: sans-serif;
    margin: 30px;
    background-image: url("http://i.stack.imgur.com/vhoa0.jpg");
    background-size: cover;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}


.img-medium {
    height: 200px;
}

.container{ 
    margin: 20px auto;
    color: #b3b300;
    font-family: sans-serif;
}

a{ 
    color: yellow;
}

.profile{ 
    margin: 20px;
    color: #b3b300;
    font-family: sans-serif;
}


.nav li a{
    color: yellow;
    font-weight: bold;
}

#articles li{
    list-style:none;
}

#articles li a{
   color: red;
}

.comment {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: chartreuse;
    font-weight: bold;
}

.commenter {
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    margin-left: 10px;
    padding-bottom: 10px;
}